# Python
*.pyc
__pycache__/
*.log

# Env / secrets
.env
.env.*
!.env.example

# DB / local
*.sqlite3

# Django collected/static/media (depending on strategy)
staticfiles/
media/
media_backup/

# Node
node_modules/

# Celery
celerybeat-schedule

# Misc
*.patch


