.about {
    max-width:      960px;
    margin:         60px auto;
    line-height:    1.6;
    font-family:    var(--global-font-family);
    font-size:      24px;
}

.about h2 {
    margin-bottom:  20px;
}

.about h3 {
    margin-top:     30px;
    font-size:      24px;
}

.about ul {
    list-style:     none;
    padding:        0;
    margin-top:     30px;
    margin-bottom:  30px;
    display:        flex;
    gap:            20px;
    flex-wrap:      wrap;
}

.about li {
    flex:           1;
    min-width:      220px;

    background:     var(--surface-gradient);
    color:          var(--button-text);
    padding:        20px;
    border-radius:  10px;

    box-shadow:     0 2px 8px rgba(0,0,0,.05);
    transition:     transform .2s ease;

    display:        flex;
    flex-direction: column;
    align-items:    center;
    text-align:     center;

    font-size:      16px;
}

.about h4 {
    font-size:      22px;
    font-style:     bold;
}


.about li:hover {
    transform:      translateY(-4px);
}

.about li svg {
    width:          36px;
    height:         36px;
    margin-bottom:  10px;
}