{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'venues/venue_list.css' %}">
    <link rel="stylesheet" href="{% static 'venues/venue_cards.css' %}">
{% endblock %}

{% block title %}{% trans "Your Venue Dashboard" %}{% endblock %}

{% block content %}
    <h2>{% blocktrans trimmed %}Welcome, {{ user.username }} — Your Venue Dashboard{% endblocktrans %}</h2>

    {% if venues %}
        <div class="venue-list">
        {% for venue in venues %}
            {% include "venues/venue_cards.html" with venue=venue %}
        {% endfor %}
        </div>
    {% else %}
        <p>{% trans "You don't have any venues yet." %}</p>
    {% endif %}
{% endblock %}
