{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password recover" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/password_recover.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% trans "Password Recovery" %}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Send Verification Code" %}</button>
    </form>
</div>
{% endblock %}
