{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% trans "Reset Your Password" %}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
