{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
{% endblock %}

{% block title %} {% trans "Sign Up" %} {% endblock %}

{% block content %}
<div class="signup-container" id="signup-container">
    <h2> {% trans "Sign Up" %} </h2>

    {% if form.non_field_errors %}
    <div class="flash-messages" id="form-errors" role="alert" aria-live="assertive">
        {% for error in form.non_field_errors %}
            <div class="flash-message error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" novalidate id="signup-form" aria-describedby="form-errors">
        {% csrf_token %}

        {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <ul class="errorlist" role="alert" id="{{ field.html_name }}-errors" aria-live="assertive">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}

        <input type="submit" value="{% trans "Create Account" %}" class="btn primary-btn" id="submit-btn">
    </form>
    <p class="login-prompt">
        {% trans "Already have an account?" %} <a href="{% url 'login' %}"> {% trans "Login" %}</a>
    </p>
    
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'common/js/form_validation.js' %}" onload="attachSignupLikeValidation('signup-form')"></script>

    <script defer>
        attachSignupLikeValidation('signup-form');
    </script>
{% endblock %}